.pokedex-tracker {
  display: block;
}

.pokedex-tracker__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
  background-color: lightcoral;
  width: 50%;
}

.pokedex-tracker__item input {
  flex-basis: 5%;
}

/* 3: number of items in the row */
.pokedex-tracker__item div {
  flex-basis: calc(95% / 3);
}
