.pokedex-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
  background-color: transparent;
  width: calc(25% - ((10px * 2) + (15px * 2)));
  padding: 30px 15px 15px;
  position: relative;
  min-height: 100px;
  border-radius: 10px;
  box-shadow: 4px 5px 3px 0px #d2d1d1;
}

.pokedex-entry:hover {
  box-shadow: 4px 5px 3px 0px #696969;
}

.pokedex-entry--caught {
  background-color: lightcoral;
}

@media only screen and (max-width: 767px) {
  .pokedex-entry {
    width: calc(50% - ((10px * 2) + (15px * 2)));
  }
}

.pokedex-entry--hidden {
  display: none;
}

/* 3: number of items in the row */
.pokedex-entry__item {
  display: block;
  flex-basis: calc(95% / 3);
}

.pokedex-entry__item--box {
  flex-basis: 5%;
}

.pokedex-entry__box {
  display: block;
  flex-basis: 50%;
}

.pokedex-entry__box--label {
  position: absolute;
  top: 10px;
  left: 10px;
}
